apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-viewer-creds
  namespace: "monitoring"
spec:
  dataFrom:
    - find:
        conversionStrategy: Default
        decodingStrategy: None
        name:
          regexp: "grafana-viewer"
  refreshInterval: "30s"
  secretStoreRef:
    name: grafana-creds-vault
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    name: grafana-secret-creds
    template:
      data:
        viewer-user: "{{ `{{ .username }}` }}"
        viewer-password: "{{ `{{ .password }}` }}"
      engineVersion: v2
      mergePolicy: Replace
      type: Opaque
  data:
    - secretKey: username
      remoteRef:
        key: grafana/grafana-viewer
        property: key
    - secretKey: password
      remoteRef:
        key: grafana/grafana-viewer-password
        property: key
  # target:
  #   creationPolicy: Owner
  #   name: grafana-secret-creds
  #   template:
  #     data:
  #       username: "{{ `{{ .grafana-admin }}` }}"
  #       password: "{{ `{{ .grafana-admin-password }}` }}"
  #     engineVersion: v2
  #     mergePolicy: Replace
  #     type: Opaque