apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-secret-creds
  namespace: "monitoring"
spec:
  dataFrom:
    - find:
        conversionStrategy: Default
        decodingStrategy: None
        name:
          regexp: "grafana-admin"
  refreshInterval: "30s"
  secretStoreRef:
    name: grafana-creds-vault
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    name: grafana-secret-creds
    template:
      data:
        admin-user: "{{ `{{ .username }}` }}"
        admin-password: "{{ `{{ .password }}` }}"
      engineVersion: v2
      mergePolicy: Replace
      type: Opaque
  data:
    - secretKey: username
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      remoteRef:
        key: grafana/grafana-admin
        property: key
    - secretKey: password
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      remoteRef:
        key: grafana/grafana-admin-password
        property: key