apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: loki-secret-creds
  namespace: "monitoring"
spec:
  dataFrom:
    - find:
        conversionStrategy: Default
        decodingStrategy: None
        name:
          regexp: "lokiauthpassword"
  refreshInterval: "30s"
  secretStoreRef:
    name: grafana-creds-vault
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    name: loki-secret-creds
    template:
      data:
        .htpasswd: {{ htpasswd "loki" "supersecret" | quote }}
#        .htpasswd: {{ htpasswd "loki" "`{{ .password }}`" | quote }}
      engineVersion: v2
      mergePolicy: Replace
      type: Opaque
  data:
    - secretKey: password
      remoteRef:
        key: grafana/lokiauthpassword
        property: key
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: loki-secret-auth
  namespace: "monitoring"
spec:
  dataFrom:
    - find:
        conversionStrategy: Default
        decodingStrategy: None
        name:
          regexp: "lokiauthpassword"
  refreshInterval: "30s"
  secretStoreRef:
    name: grafana-creds-vault
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    name: loki-secret-auth
    template:
      data:
        username: "loki"
        password: "{{ `{{ .password }}` }}"
      engineVersion: v2
      mergePolicy: Replace
      type: Opaque
  data:
    - secretKey: password
      remoteRef:
        key: grafana/lokiauthpassword
        property: key