apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: push-k8s-secret
  namespace: prod
spec:
  updatePolicy: Replace
  deletionPolicy: Delete
  refreshInterval: 60s
  secretStoreRefs:
    - name: vault-backend-secretstore
      kind: SecretStore
  selector:
    secret:
      name: argocd-secret-creds # k8s-secret
  data:
    - conversionStrategy: None
      match:
        secretKey: oidc.azure.clientId # k8s-password
        remoteRef:
          remoteKey: k8s-password