tolerations: []

podAnnotations: {}

postgres:
  enabled: true
  podAnnotations:
    reloader.stakater.com/auto: "true"

  config:
    maxConnections: 10

  tolerations:
    - key: "type"
      operator: "Equal"
      value: "load-test"
      effect: "NoSchedule"

  users:
    verifier:
      - verifier
    cb_pp:
      - cb_pp_kek
      - cb_pp_pp
    cbms:
      - cbms
    fsp1_pp:
      - fsp1_pp_kek
      - fsp1_pp_pp
    fsp2_pp:
      - fsp2_pp_kek
      - fsp2_pp_pp